.date {
  font-style: italic;
  color: grey;
}

.coin-name {
  font-weight: bold;
}

.text-bottom {
  display: block;
  color: grey;
  font-style: italic;
  text-align: right;
}

c-col {
  position: relative; /* Ensure positioning context for pseudo-element */
}

c-col::after {
  content: ''; /* Required for pseudo-element */
  position: absolute; /* Position the pseudo-element */
  top: 20px; /* Add padding at the top */
  bottom: 20px; /* Add padding at the bottom */
  right: 0; /* Position the pseudo-element to the right */
  width: 1px; /* Set the width of the border */
  background-color: lightgrey; /* Color of the border */
}


// Bootstrap Loading Skeleton
%loading-skeleton {
  color: transparent;
  appearance: none;
  border-radius: 5px;
  -webkit-appearance: none;
  background-color: rgba(128, 128, 128, 0.7);
  border-color: #eee;

  &::placeholder {
    color: transparent;
  }
}
@keyframes loading-skeleton {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}
.loading-skeleton {
  pointer-events: none;
  animation: loading-skeleton 1s infinite alternate;

  img {
    filter: grayscale(100) contrast(0%) brightness(1.8);
  }
  h1, h2, h3, h4, h5, h6,
  p, ul, span,
  ng-container,
  .btn,
  label,
  .form-control {
    @extend %loading-skeleton;
  }
}

p{
  background-color: gray;
}

.no-stock {
  color: #3c4b64;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  @media screen and (max-width: 576px) {
    font-size: 18px;
  }
}

.card-bottom {
  background-color: lightgray;
  border-radius: 0 0 5px 5px;
}

.package-label {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #4c4b4b;
  border-radius: 5px;
  color: #4c4b4b;
  font-weight: bold;
  font-size: 14px;
  padding: 4px 8px;
  margin-right: 5px;
}

.package-btn > button {
  border-radius: 5px;
  padding: 2px 5px;
}

.btnSilver {
  border: 1px solid grey;
  color: grey;
}

.isSilver {
  background-color: grey;
  color: white;
}

.btnGold {
  border: 1px solid gold;
  color: gold;
}

.isGold {
  background-color: gold;
  color: black;
}

.btnPlatinum {
  border: 1px solid #9f009f;
  color: #9f009f;
}

.isPlatinum {
  background-color: #9f009f;
  color: white;
}
