<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form cForm [formGroup]="loginForm" (submit)="login()">
                <h1 class="default-color">Login</h1>
                <p class="default-color">Sign In to your Hawk account</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input autoComplete="on"
                         cFormControl
                         placeholder="Username"
                         formControlName="email"
                         type="email"
                  />
                </c-input-group>
                <c-input-group class="mb-4">
                  <span *ngIf="type === 'password'" cInputGroupText
                        (click)="showPassword()" class="pointer-cursor">
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <span *ngIf="type !=='password'" cInputGroupText
                        (click)="showPassword()" class="pointer-cursor">
                    <svg cIcon name="cilLockUnlocked"></svg>
                  </span>
                  <input
                    autoComplete="password"
                    cFormControl
                    placeholder="Password"
                    type="{{type}}"
                    formControlName="password"
                  />
                </c-input-group>
                <c-row>
                  <c-col xs="6">
                    <button class="default-btn" type="submit" [disabled]="!loginForm.valid" [ladda]="isLogin">
                      Login
                    </button>
                  </c-col>
                  <c-col class="text-right d-flex align-items-center" xs="6">
                    <div class="px-0 forget-password" routerLink="/forget-password">
                      Forgot password?
                    </div>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
          <c-card [ngStyle]="{'width.%': 100}" class="signup py-2">
            <c-card-body class="text-center">
              <div>
                <h2>Sign up</h2>
                <p>
                  Welcome to Hawk – your trusted partner for precision trading.
                  Access expert signals, market insights, and tools to elevate your financial journey.
                  Sign up now and take the first step toward smarter trading!
                </p>
                <button [active]="true" cButton class="mt-3" color="primary" routerLink="/register">
                  Register Now!
                </button>
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
