.topic {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 2px lightgrey;
  font-weight: bold;
  margin-bottom: 10px;

  b {
    color: orangered;
    font-size: 30px;
  }
}

.text-bottom {
  vertical-align: bottom;
  font-weight: bold;
}
