<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4 pt-2 pb-2">
            <form cForm [formGroup]="restPasswordForm" (submit)="resetPasswordFormSubmit()">
              <h2 class="default-color">Reset Password</h2>

              <c-row class="mb-1">
                <label [sm]="4" cCol cLabel="col" for="temporaryPassword">Temporary password</label>
                <c-col *ngIf="restPasswordForm.controls['tempPassword'] as ctrl" [sm]="8">
                  <input
                    [valid]="
                              ctrl.touched && ctrl.valid
                                ? true
                                : (isSubmit || ctrl.touched) && ctrl.invalid
                                ? false
                                : undefined
                            "
                    autocomplete="off"
                    cFormControl
                    formControlName="tempPassword"
                    id="temporaryPassword"
                    placeholder="Temporary Password"
                    required
                  />
                  <c-form-feedback *ngIf="isSubmit || ctrl.invalid" [valid]="!(isSubmit || ctrl.invalid)">
                    <ng-container *ngIf="ctrl.errors as errors">
                      <div *ngIf="errors['required']">{{formErrors['tempPassword'].required}}</div>
                    </ng-container>
                  </c-form-feedback>
                </c-col>
              </c-row>

              <c-row class="mb-1">
                <label [sm]="4" cCol cLabel="col" for="password">Password</label>
                <c-col *ngIf="restPasswordForm.controls['password'] as ctrl" [sm]="8">
                  <input
                    [valid]="
                              ctrl.touched && ctrl.valid
                                ? true
                                : (isSubmit || ctrl.touched) && ctrl.invalid
                                ? false
                                : undefined
                            "
                    autocomplete="new-password"
                    cFormControl
                    formControlName="password"
                    id="password"
                    placeholder="Password"
                    required
                    type="password"
                  />
                  <c-form-feedback *ngIf="isSubmit || ctrl.invalid" [valid]="!(isSubmit || ctrl.invalid)">
                    <ng-container *ngIf="ctrl.errors as errors">
                      <div *ngIf="errors['required']">{{formErrors['password'].required}}</div>
                      <div *ngIf="errors['minlength']">
                        {{ formErrors['password'].minLength }}
                      </div>
                      <div *ngIf="errors['pattern']">
                        {{ formErrors['password'].pattern }}
                      </div>
                    </ng-container>
                  </c-form-feedback>
                </c-col>
              </c-row>

              <c-row class="mb-1">
                <label [sm]="4" cCol cLabel="col" for="confirmPassword">Confirm password</label>
                <c-col *ngIf="restPasswordForm.controls['confirmPassword'] as ctrl" [sm]="8">
                  <input
                    [valid]="
              ctrl.touched && ctrl.valid
                ? true
                : (isSubmit || ctrl.touched) && ctrl.invalid
                ? false
                : undefined
            "
                    autocomplete="off"
                    cFormControl
                    formControlName="confirmPassword"
                    id="confirmPassword"
                    placeholder="Confirm password"
                    required
                    type="password"
                  />
                  <c-form-feedback *ngIf="isSubmit || ctrl.invalid" [valid]="!(isSubmit || ctrl.invalid)">
                    <ng-container *ngIf="ctrl.errors as errors">
                      <div *ngIf="errors['passwordMismatch']">
                        {{ formErrors['confirmPassword'].passwordMismatch }}
                      </div>
                      <div *ngIf="errors['required']">{{ formErrors['required'].passwordMismatch }}</div>
                    </ng-container>
                  </c-form-feedback>
                </c-col>
              </c-row>

              <div class="d-grid">
                <button class="default-btn mt-2"
                        [ladda]="isSubmit"
                        [disabled]="restPasswordForm.invalid"
                        type="submit">
                  Reset Password
                </button>
              </div>

            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
