<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4 pt-2 pb-2">
            <form cForm [formGroup]="forgetPasswordForm" (submit)="forgetPasswordFormSubmit()">
              <h2>Forget Password</h2>
              <p class="text-medium-emphasis mb-2">
                Enter Email Address
              </p>

              <c-input-group class="mb-3">
                <span cInputGroupText>&#64;</span>
                <input autoComplete="on" cFormControl type="email" placeholder="Email" formControlName="email"/>
              </c-input-group>

              <div class="d-grid">
                <button cButton color="success"
                        type="submit"
                        [disabled]="forgetPasswordForm.invalid"
                        [ladda]="isSend">
                  Send
                </button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
