<div class="ps-5 pe-5">
  <form cForm [formGroup]="createForm" (submit)="createStock()">
    <c-row class="mb-1">
      <label [sm]="3" cCol cLabel="col" for="name" class="label-style">
        <svg cIcon name="cilChevronCircleRightAlt" size="sm" title="Numbered List Icon"></svg>
        Stock name
      </label>
      <c-col *ngIf="createForm.controls['name'] as ctrl" [sm]="9">
        <input
          [valid]="
              ctrl.touched && ctrl.valid
                ? true
                : (submitted || ctrl.touched) && ctrl.invalid
                ? false
                : undefined
            "
          autocomplete="on"
          cFormControl
          formControlName="name"
          id="name"
          placeholder="Stock name"
          required
        />
        <c-form-feedback *ngIf="submitted || ctrl.invalid" [valid]="!(submitted || ctrl.invalid)">
          <ng-container *ngIf="ctrl.errors as errors">
            <div *ngIf="errors['required']">
              {{ formErrors.name.required }}
            </div>
          </ng-container>
        </c-form-feedback>
      </c-col>
    </c-row>
    <c-row class="mb-1">
      <label [sm]="3" cCol cLabel="col" for="description">
        <label  class="label-style">
          <svg cIcon name="cilChevronCircleRightAlt" size="sm" title="Numbered List Icon"></svg>
          Description
        </label>
      </label>
      <c-col *ngIf="createForm.controls['description'] as ctrl" [sm]="9">
          <textarea
            [valid]="
              ctrl.touched && ctrl.valid
                ? true
                : (submitted || ctrl.touched) && ctrl.invalid
                ? false
                : undefined
            "
            autocomplete="on"
            cFormControl
            formControlName="description"
            id="description"
            placeholder="Description"
            required></textarea>
        <c-form-feedback *ngIf="submitted || ctrl.invalid" [valid]="!(submitted || ctrl.invalid)">
          <ng-container *ngIf="ctrl.errors as errors">
            <div *ngIf="errors['required']">
              {{ formErrors.description.required }}
            </div>
          </ng-container>
        </c-form-feedback>
      </c-col>
    </c-row>
    <c-row class="mb-1">
      <label [sm]="3" cCol cLabel="col" for="stopLoss" class="label-style">
        <svg cIcon name="cilChevronCircleRightAlt" size="sm" title="Numbered List Icon"></svg>
        Stop Loss
      </label>
      <c-col *ngIf="createForm.controls['stopLoss'] as ctrl" [sm]="9">
        <input
          [valid]="
              ctrl.touched && ctrl.valid
                ? true
                : (submitted || ctrl.touched) && ctrl.invalid
                ? false
                : undefined
            "
          autocomplete="off"
          cFormControl
          formControlName="stopLoss"
          id="stopLoss"
          placeholder="Stop Loss"
          type="number"
          required>
        <c-form-feedback *ngIf="submitted || ctrl.invalid" [valid]="!(submitted || ctrl.invalid)">
          <ng-container *ngIf="ctrl.errors as errors">
            <div *ngIf="errors['required']">
              {{ formErrors.stopLoss.required }}
            </div>
          </ng-container>
        </c-form-feedback>
      </c-col>
    </c-row>
    <c-row class="mb-1">
      <label [sm]="3" cCol cLabel="col" for="maxGain" class="label-style">
        <svg cIcon name="cilChevronCircleRightAlt" size="sm" title="Numbered List Icon"></svg>
        Max Gain
      </label>
      <c-col *ngIf="createForm.controls['maxGain'] as ctrl" [sm]="9">
        <input
          [valid]="
              ctrl.touched && ctrl.valid
                ? true
                : (submitted || ctrl.touched) && ctrl.invalid
                ? false
                : undefined
            "
          autocomplete="off"
          cFormControl
          formControlName="maxGain"
          id="maxGain"
          placeholder="Max Gain"
          type="number"
          required>
        <c-form-feedback *ngIf="submitted || ctrl.invalid" [valid]="!(submitted || ctrl.invalid)">
          <ng-container *ngIf="ctrl.errors as errors">
            <div *ngIf="errors['required']">
              {{ formErrors.maxGain.required }}
            </div>
          </ng-container>
        </c-form-feedback>
      </c-col>
    </c-row>
    <c-row class="mb-1">
      <label [sm]="3" cCol cLabel="col" for="buyTarget" class="label-style">
        <svg cIcon name="cilChevronCircleRightAlt" size="sm" title="Numbered List Icon"></svg>
        Buy Target
      </label>
      <c-col *ngIf="createForm.controls['buyTarget'] as ctrl" [sm]="9">
        <input
          [valid]="
              ctrl.touched && ctrl.valid
                ? true
                : (submitted || ctrl.touched) && ctrl.invalid
                ? false
                : undefined
            "
          autocomplete="off"
          cFormControl
          formControlName="buyTarget"
          id="buyTarget"
          placeholder="Buy Target"
          type="number"
          required>
        <c-form-feedback *ngIf="submitted || ctrl.invalid" [valid]="!(submitted || ctrl.invalid)">
          <ng-container *ngIf="ctrl.errors as errors">
            <div *ngIf="errors['required']">
              {{ formErrors.buyTarget.required }}
            </div>
          </ng-container>
        </c-form-feedback>
      </c-col>
    </c-row>
    <c-row class="mb-1">
      <label [sm]="3" cCol cLabel="col" for="sellTarget" class="label-style">
        <svg cIcon name="cilChevronCircleRightAlt" size="sm" title="Numbered List Icon"></svg>
        Sell Target
      </label>
      <c-col *ngIf="createForm.controls['sellTarget'] as ctrl" [sm]="9">
        <input
          [valid]="
              ctrl.touched && ctrl.valid
                ? true
                : (submitted || ctrl.touched) && ctrl.invalid
                ? false
                : undefined
            "
          autocomplete="off"
          cFormControl
          formControlName="sellTarget"
          id="sellTarget"
          placeholder="Sell target"
          type="number"
          required>
        <c-form-feedback *ngIf="submitted || ctrl.invalid" [valid]="!(submitted || ctrl.invalid)">
          <ng-container *ngIf="ctrl.errors as errors">
            <div *ngIf="errors['required']">
              {{ formErrors.sellTarget.required }}
            </div>
          </ng-container>
        </c-form-feedback>
      </c-col>
    </c-row>
    <c-row class="mb-1">
      <label [sm]="3" cCol cLabel="col" for="buyZone" class="label-style">
        <svg cIcon name="cilChevronCircleRightAlt" size="sm" title="Numbered List Icon"></svg>
        Buy Zone
      </label>
      <c-col *ngIf="createForm.controls['buyZone'] as ctrl" [sm]="9">
        <input
          [valid]="
              ctrl.touched && ctrl.valid
                ? true
                : (submitted || ctrl.touched) && ctrl.invalid
                ? false
                : undefined
            "
          autocomplete="off"
          cFormControl
          formControlName="buyZone"
          id="buyZone"
          placeholder="Buy zone"
          type="number"
          required>
        <c-form-feedback *ngIf="submitted || ctrl.invalid" [valid]="!(submitted || ctrl.invalid)">
          <ng-container *ngIf="ctrl.errors as errors">
            <div *ngIf="errors['required']">
              {{ formErrors.buyZone.required }}
            </div>
          </ng-container>
        </c-form-feedback>
      </c-col>
    </c-row>

    <c-row class="mb-1">
      <label [sm]="3" cCol cLabel="col" for="upload">
        <label  class="label-style">
          <svg cIcon name="cilChevronCircleRightAlt" size="sm" title="Numbered List Icon"></svg>
          Image
        </label>
      </label>
      <c-col *ngIf="createForm.controls['imageUrl'] as ctrl" [sm]="9">
        <div id="imageUpload">
          <div class="image-upload position-relative" [ngClass]="{ 'no-image': !selectedImage.src && ctrl.touched}">
            <!-- Loading Spinner for Update -->
            <div *ngIf="isUpdate" class="position-absolute z-3 loadingUpdate">
              <img alt="loading..." src="assets/loading_io/Spin-1s-200px.svg">
            </div>

            <!-- Drag & Drop or File Selection Area -->
            <div (dragleave)="onDragLeave($event)"
                 (dragover)="onDragOver($event)"
                 (drop)="onDrop($event)"
                 (click)="triggerFileInput(ctrl)"
                 class="drop-zone">
              <div *ngIf="selectedImage.src" class="d-flex flex-wrap gap-2 justify-content-center mb-1">
                <!-- Display Uploaded Images -->
                <div class="image-container position-relative">
                  <div *ngIf="selectedImage.isLoading" class="position-absolute z-3 loading">
                    <img alt="loading..." src="assets/loading_io/Spin-1s-200px.svg">
                  </div>
                  <span (click)="removeImage($event)" class="position-absolute bottom-0 end-0">
                    <svg class="delete-image material-symbols-outlined"
                         cIcon name="cilTrash" size="xl">
                    </svg>
                  </span>
                  <img [src]="selectedImage.src" alt="Selected Image" draggable="false">
                </div>
              </div>

              <!-- Placeholder for Drag & Drop -->
              <div *ngIf="!selectedImage.src" class="d-flex justify-content-center">
                <div id="imageTemplate"></div>
              </div>
              <div *ngIf="!selectedImage.src" class="p-3">Drag & drop images here or click to select</div>

              <!-- Hidden File Input -->
              <div>
                <input
                  #upload
                  (change)="onFileSelected($event, ctrl)"
                  [disabled]="selectedImage.src"
                  accept="image/*"
                  class="hidden-file-input"
                  id="upload"
                  type="file"
                />
              </div>
            </div>
          </div>
        </div>
        <!-- Error Message -->
        <div *ngIf="ctrl.touched && !selectedImage?.src" class="error-text">
          <ng-container *ngIf="ctrl.errors as errors">
            <small *ngIf="errors['required']" style="color: #e55757;">
              {{ formErrors.image.required }}
            </small>
          </ng-container>
        </div>
      </c-col>
    </c-row>


    <div class="d-flex justify-content-end">
      <button type="submit"
              [disabled]="!createForm.valid"
              [ladda]="submitted"
              class="default-btn">
        Create
      </button>
    </div>
  </form>
</div>
