<div class="create-stock">
  <form cForm [formGroup]="createForm" (submit)="createStock()">
    <c-row class="mb-1">
      <label [sm]="3" cCol cLabel="col" for="name" class="label-style">
        <svg cIcon name="cilChevronCircleRightAlt" size="sm" title="Numbered List Icon"></svg>
        Stock name
      </label>
      <c-col *ngIf="createForm.controls['name'] as ctrl" [sm]="9">
        <input
          [valid]="
              ctrl.touched && ctrl.valid
                ? true
                : (submitted || ctrl.touched) && ctrl.invalid
                ? false
                : undefined
            "
          autocomplete="on"
          cFormControl
          formControlName="name"
          id="name"
          placeholder="Stock name"
          required
        />
        <c-form-feedback *ngIf="submitted || ctrl.invalid" [valid]="!(submitted || ctrl.invalid)">
          <ng-container *ngIf="ctrl.errors as errors">
            <div *ngIf="errors['required']">
              {{ formErrors.name.required }}
            </div>
          </ng-container>
        </c-form-feedback>
      </c-col>
    </c-row>
    <c-row class="mb-1">
      <label [sm]="3" cCol cLabel="col" for="description">
        <label  class="label-style">
          <svg cIcon name="cilChevronCircleRightAlt" size="sm" title="Numbered List Icon"></svg>
          Description
        </label>
      </label>
      <c-col *ngIf="createForm.controls['description'] as ctrl" [sm]="9">
          <textarea
            [valid]="
              ctrl.touched && ctrl.valid
                ? true
                : (submitted || ctrl.touched) && ctrl.invalid
                ? false
                : undefined
            "
            autocomplete="on"
            cFormControl
            formControlName="description"
            id="description"
            placeholder="Description"
            required></textarea>
        <c-form-feedback *ngIf="submitted || ctrl.invalid" [valid]="!(submitted || ctrl.invalid)">
          <ng-container *ngIf="ctrl.errors as errors">
            <div *ngIf="errors['required']">
              {{ formErrors.description.required }}
            </div>
          </ng-container>
        </c-form-feedback>
      </c-col>
    </c-row>
    <c-row class="mb-1">
      <label [sm]="3" cCol cLabel="col" for="stopLoss" class="label-style">
        <svg cIcon name="cilChevronCircleRightAlt" size="sm" title="Numbered List Icon"></svg>
        Stop Loss
      </label>
      <c-col *ngIf="createForm.controls['stopLoss'] as ctrl" [sm]="9">
        <input
          [valid]="
              ctrl.touched && ctrl.valid
                ? true
                : (submitted || ctrl.touched) && ctrl.invalid
                ? false
                : undefined
            "
          autocomplete="off"
          cFormControl
          formControlName="stopLoss"
          id="stopLoss"
          placeholder="Stop Loss"
          type="number"
          required>
        <c-form-feedback *ngIf="submitted || ctrl.invalid" [valid]="!(submitted || ctrl.invalid)">
          <ng-container *ngIf="ctrl.errors as errors">
            <div *ngIf="errors['required']">
              {{ formErrors.stopLoss.required }}
            </div>
          </ng-container>
        </c-form-feedback>
      </c-col>
    </c-row>
    <c-row class="mb-1">
      <label [sm]="3" cCol cLabel="col" for="maxGain" class="label-style">
        <svg cIcon name="cilChevronCircleRightAlt" size="sm" title="Numbered List Icon"></svg>
        Max Gain
      </label>
      <c-col *ngIf="createForm.controls['maxGain'] as ctrl" [sm]="9">
        <input
          [valid]="
              ctrl.touched && ctrl.valid
                ? true
                : (submitted || ctrl.touched) && ctrl.invalid
                ? false
                : undefined
            "
          autocomplete="off"
          cFormControl
          formControlName="maxGain"
          id="maxGain"
          placeholder="Max Gain"
          type="number"
          required>
        <c-form-feedback *ngIf="submitted || ctrl.invalid" [valid]="!(submitted || ctrl.invalid)">
          <ng-container *ngIf="ctrl.errors as errors">
            <div *ngIf="errors['required']">
              {{ formErrors.maxGain.required }}
            </div>
          </ng-container>
        </c-form-feedback>
      </c-col>
    </c-row>
    <c-row class="mb-1">
      <label [sm]="3" cCol cLabel="col" for="buyTarget" class="label-style">
        <svg cIcon name="cilChevronCircleRightAlt" size="sm" title="Numbered List Icon"></svg>
        Buy Target
      </label>
      <c-col *ngIf="createForm.controls['buyTarget'] as ctrl" [sm]="9">
        <input
          [valid]="
              ctrl.touched && ctrl.valid
                ? true
                : (submitted || ctrl.touched) && ctrl.invalid
                ? false
                : undefined
            "
          autocomplete="off"
          cFormControl
          formControlName="buyTarget"
          id="buyTarget"
          placeholder="Buy Target"
          type="number"
          required>
        <c-form-feedback *ngIf="submitted || ctrl.invalid" [valid]="!(submitted || ctrl.invalid)">
          <ng-container *ngIf="ctrl.errors as errors">
            <div *ngIf="errors['required']">
              {{ formErrors.buyTarget.required }}
            </div>
          </ng-container>
        </c-form-feedback>
      </c-col>
    </c-row>
    <c-row class="mb-1">
      <label [sm]="3" cCol cLabel="col" for="sellTarget" class="label-style">
        <svg cIcon name="cilChevronCircleRightAlt" size="sm" title="Numbered List Icon"></svg>
        Sell Target
      </label>
      <c-col *ngIf="createForm.controls['sellTarget'] as ctrl" [sm]="9">
        <input
          [valid]="
              ctrl.touched && ctrl.valid
                ? true
                : (submitted || ctrl.touched) && ctrl.invalid
                ? false
                : undefined
            "
          autocomplete="off"
          cFormControl
          formControlName="sellTarget"
          id="sellTarget"
          placeholder="Sell target"
          type="number"
          required>
        <c-form-feedback *ngIf="submitted || ctrl.invalid" [valid]="!(submitted || ctrl.invalid)">
          <ng-container *ngIf="ctrl.errors as errors">
            <div *ngIf="errors['required']">
              {{ formErrors.sellTarget.required }}
            </div>
          </ng-container>
        </c-form-feedback>
      </c-col>
    </c-row>
    <c-row class="mb-1">
      <label [sm]="3" cCol cLabel="col" for="buyZone" class="label-style">
        <svg cIcon name="cilChevronCircleRightAlt" size="sm" title="Numbered List Icon"></svg>
        Buy Zone
      </label>
      <c-col *ngIf="createForm.controls['buyZone'] as ctrl" [sm]="9">
        <input
          [valid]="
              ctrl.touched && ctrl.valid
                ? true
                : (submitted || ctrl.touched) && ctrl.invalid
                ? false
                : undefined
            "
          autocomplete="off"
          cFormControl
          formControlName="buyZone"
          id="buyZone"
          placeholder="Buy zone"
          type="number"
          required>
        <c-form-feedback *ngIf="submitted || ctrl.invalid" [valid]="!(submitted || ctrl.invalid)">
          <ng-container *ngIf="ctrl.errors as errors">
            <div *ngIf="errors['required']">
              {{ formErrors.buyZone.required }}
            </div>
          </ng-container>
        </c-form-feedback>
      </c-col>
    </c-row>
    <c-row class="mb-1">
      <label [sm]="3" cCol cLabel="col" for="upload">
        <label  class="label-style">
          <svg cIcon name="cilChevronCircleRightAlt" size="sm" title="Numbered List Icon"></svg>
          Image
        </label>
      </label>
      <c-col *ngIf="createForm.controls['imageUrl'] as ctrl" [sm]="9">
        <div id="imageUpload">
          <div class="image-upload position-relative" [ngClass]="{ 'no-image': !selectedImage.src && ctrl.touched}">
            <!-- Loading Spinner for Update -->
            <div *ngIf="isUpdate" class="position-absolute z-3 loadingUpdate">
              <img alt="loading..." src="assets/loading_io/Spin-1s-200px.svg">
            </div>

            <!-- Drag & Drop or File Selection Area -->
            <div (dragleave)="onDragLeave($event)"
                 (dragover)="onDragOver($event)"
                 (drop)="onDrop($event)"
                 (click)="triggerFileInput(ctrl)"
                 class="drop-zone">
              <div *ngIf="selectedImage.src" class="d-flex flex-wrap gap-2 justify-content-center mb-1">
                <!-- Display Uploaded Images -->
                <div class="image-container position-relative">
                  <div *ngIf="selectedImage.isLoading" class="position-absolute z-3 loading">
                    <img alt="loading..." src="assets/loading_io/Spin-1s-200px.svg">
                  </div>
                  <span (click)="removeImage($event)" class="position-absolute bottom-0 end-0">
                    <svg class="delete-image material-symbols-outlined"
                         cIcon name="cilTrash" size="xl">
                    </svg>
                  </span>
                  <img [src]="selectedImage.src" alt="Selected Image" draggable="false">
                </div>
              </div>

              <!-- Placeholder for Drag & Drop -->
              <div *ngIf="!selectedImage.src" class="d-flex justify-content-center">
                <div id="imageTemplate"></div>
              </div>
              <div *ngIf="!selectedImage.src" class="p-3">Drag & drop images here or click to select</div>

              <!-- Hidden File Input -->
              <div>
                <input
                  #upload
                  (change)="onFileSelected($event, ctrl)"
                  [disabled]="selectedImage.src"
                  accept="image/*"
                  class="hidden-file-input"
                  id="upload"
                  type="file"
                />
              </div>
            </div>
          </div>
        </div>
        <!-- Error Message -->
        <div *ngIf="ctrl.touched && !selectedImage?.src" class="error-text">
          <ng-container *ngIf="ctrl.errors as errors">
            <small *ngIf="errors['required']" style="color: #e55757;">
              {{ formErrors.image.required }}
            </small>
          </ng-container>
        </div>
      </c-col>
    </c-row>

    <!-- Dynamic Fields Section -->
    <div formArrayName="customFields" class="mt-2 mb-2">
      <h5>Add custom fields</h5>
      <div *ngFor="let field of customFields; let i = index;" [formGroupName]="i" class="mb-1">
        <div class="mb-1 d-flex gap-2">
          <div class="flex-grow-1">
            <input
              [valid]="
              field.get('key')?.touched && field.get('key')?.valid
                ? true
                : (submitted || field.get('key')?.touched) && field.get('key')?.invalid
                ? false
                : undefined
            "
              cFormControl
              formControlName="key"
              placeholder="Field name"
              type="text"
              class="form-control"
            />
            <c-form-feedback *ngIf="submitted || field?.get('key')?.invalid" [valid]="!(submitted || field?.get('key')?.invalid)">
              <ng-container *ngIf="field.get('key')?.errors as errors">
                <div *ngIf="errors['required']">
                  {{ formErrors.key.required }}
                </div>
              </ng-container>
            </c-form-feedback>
          </div>
          <div class="flex-grow-1">
              <input
                [valid]="
              field.get('value')?.touched && field.get('value')?.valid
                ? true
                : (submitted || field.get('value')?.touched) && field.get('value')?.invalid
                ? false
                : undefined
            "
                cFormControl
                formControlName="value"
                placeholder="Enter value"
                class="form-control"
                required
              />
            <c-form-feedback *ngIf="submitted || field.get('value')?.invalid" [valid]="!(submitted || field.get('value')?.invalid)">
              <ng-container *ngIf="field.get('value')?.errors as errors">
                <div *ngIf="errors['required']">
                  {{ formErrors.value.required }}
                </div>
              </ng-container>
            </c-form-feedback>
          </div>
          <div style="width: 20px">
            <div class="custom-icon" (click)="removeCustomField(i)">
              <svg size="xl"
                   class="delete-image material-symbols-outlined icon icon-xl"
                   viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"
                   pointer-events="none" role="img">
                <path fill="var(--ci-primary-color, currentColor)"
                      d="M96,472a23.82,23.82,0,0,0,23.579,24H392.421A23.82,23.82,0,0,0,416,472V152H96Zm32-288H384V464H128Z"
                      class="ci-primary"></path>
                <rect width="32" height="200" x="168" y="216" fill="var(--ci-primary-color, currentColor)"
                      class="ci-primary"></rect>
                <rect width="32" height="200" x="240" y="216" fill="var(--ci-primary-color, currentColor)"
                      class="ci-primary"></rect>
                <rect width="32" height="200" x="312" y="216" fill="var(--ci-primary-color, currentColor)"
                      class="ci-primary"></rect>
                <path fill="var(--ci-primary-color, currentColor)"
                      d="M328,88V40c0-13.458-9.488-24-21.6-24H205.6C193.488,16,184,26.542,184,40V88H64v32H448V88ZM216,48h80V88H216Z"
                      class="ci-primary"></path>
              </svg>
            </div>
          </div>
        </div>

      </div>
      <button *ngIf="customFields.length < 5" type="button"
              class="default-btn reset-btn"
              (click)="addCustomField()"
              [disabled]="customFields.length > 0 && createForm.get('customFields')?.invalid">
        Add Fields
      </button>

    </div>

    <div class="d-flex justify-content-end">
      <button type="submit"
              [disabled]="!createForm.valid"
              [ladda]="submitted"
              class="default-btn">
        Create
      </button>
    </div>
  </form>
</div>
